$color1:#9356DC;
$color2:#FF79DA;
$color3:#99E2D0;
$footcolor: #424242;
$geocolor: #ebebeb;
$backcolor: #F5F5F5;
$ressmallup: "@media only screen and (min-width: 600px) and (max-width: 768px)";
$resmedium: "@media only screen and (min-width: 768px) and (max-width: 992px)";
$resmediumup: "@media only screen and (min-width: 992px) and (max-width: 1024px)";
$resgreat: "@media only screen and (min-width: 1024px) and (max-width: 1280px)";
$resgreatup: "@media only screen and (min-width: 1280px)";